/* set the overriding variables */
$primary: #2F58EB;
$hoverblue: #2C4EC8;
$ltblue: #3960EA;
$red: #ED5252;
$green: #0AC775;
$orange: #FF9118;
$dkgrey: #414243;
$grey: #E3E4E8;



$font-stack-body: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI";
$font-stack-header: $font-stack-body;

$border-radius: 4px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 993px,
  xl: 1260px,
  xxl: 1440px,
  xxxl: 1900px
);

$container-max-widths: (
  /*sm: 540px,*/
  sm: 576px,
  md: 768px,
  /*lg: 960px,*/
  lg: 960px,
  /*xl: 1200px,*/
  xl: 1260px,
  xxl: 1440px,
  xxxl: 1800px
);

@import "../bootstrap/scss/bootstrap";
@import "_vendor";

$color-btn-primary: $primary;
$color-btn-primary-text: $white;
$color-btn-secondary: $white;
$color-btn-secondary-text: $black;
$color-btn-inline: transparent;
$color-btn-inline-text: $white;

body {
  font-family: $font-stack-body;
  font-size: 16px;
  line-height: 1.5em;
}

h1,
.h1 {
  font-size: 68px;
}

h2,
.h2 {
  font-size: 46px;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 30px;
	font-weight: 600;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 14px;
  letter-spacing: 0.4em;
  font-variant: small-caps;
}

ul {

  &.checklist {
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 35px;

    li {
      list-style: none;
      padding-bottom: 15px;

      &:before  {
        content: '';
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        background: url('../images/icon-checkmark.svg') no-repeat center;
        background-size: contain;
        margin-right: 20px;
      }
    }
  }
}

a {
  color: $black;
  @include transition(all .3s ease);

  &:hover {
    text-decoration: none;
    color: $hoverblue;
  }

  .rte & {
    color: $blue;

    &:hover {
      color: $red;
    }
  }
}

.btn,
button {
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: $border-radius;
  background-color: $color-btn-primary;
  color: $color-btn-primary-text;
  white-space: normal;
  font-size: $font-size-base;

  &:hover {
    background-color: $hoverblue;
    color: $color-btn-primary-text;
  }

  &.btn--secondary {
    background: $color-btn-secondary;
    color: $color-btn-secondary-text;
    border-color: $color-btn-secondary-text;

    &:hover {
      background: $color-btn-secondary;
      color: $hoverblue;
      border-color: $hoverblue;
    }
  }

  &.btn--inline {
    background: $color-btn-inline;
    color: $color-btn-inline-text;
    border-color: $color-btn-inline-text;
    border-radius: 100px;

    &.btn--pale {
      background: #EDF3FC;
      color: $black;
		
		p {
			margin-bottom: 0 !important;
		}
    }
  }

  &.btn--white {
    background: $color-btn-primary-text;
    color: $color-btn-primary;
    padding: 10px 35px;
  }
}
a.intercom {
    position: fixed;
    right: 40px;
    bottom: 80px;
	z-index: 1;
}
.logo {

  @include img-fluid();
  @include transition(all .3s ease);
	
	&:hover {

		opacity: .6;
	}
}
.mobile-show, .xs-show {
			display: none;
}
.nav {

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
	  margin: 5px 15px;
		
	&.current-menu-item a {
		border-bottom: 1px solid $black;
	}

      a {
        padding: 6px 0;
      }
    }
  }
}
/* #Responsive Nav
================================================== */

.menui {
  background: black;
  @include transition(all .3s ease);
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  -o-transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute; }

.icon {
  z-index: 9999;
  position: absolute;
  padding: 9px;
  height: 50px;
  width: 50px;
  margin: 0px;
  top: em(8);
  right: 0;
    
  &:hover {
      opacity: .5;
   }
}
span.menu-text {
    display: block;
    display: inline-block;
    right: 100%;
    position: absolute;
    top: 20%;
    color: $black;	
	font-size: em(20);
	font-weight: bold;
}


.mobilenav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: none;
  width: 100%;
  height: 100%;
  padding: em(50) em(25);
  background-color: $white;
	
	.greyspace {
		width: 100%;
		background: #C8C8C8;
		
		&.top {
			height: 4vh;
		}
		&.bottom {
			height: 3vh;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
		
		ul {
			list-style: none;
			padding-left: 0;
			
			li {
				padding: 20px 0;
				border-bottom: 1px solid #E3E4E8;
				background: url('../images/icon-arrow.svg') no-repeat right;
					
				a {
					font-size: 24px;
					font-weight: 600;
					width: 100%;
					display: block;
				} 
			}
		}
	.btnwrap {
		position: absolute;
		left: 0;
		bottom: 40px;
		width: 80%;
		margin: 0 10%;
		
		.btn {
			width: 100%;
			display: block;
			
			&:first-child {
				margin-bottom: 16px;
			}
		}
	}
} 


.mobilenav li a:hover, .mobilenav li.current_page_item a {
  color: black;
}

.top-animate {
  background: black !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.mid-animate {
  opacity: 0; }

.bottom-animate {
  background: black !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg); }

.top-menu {
  top: 5px;
  width: 30px;
  height: 2px;
  border-radius: 0;
  background-color: $black; }

.mid-menu {
  top: 13px;
  width: 30px;
  height: 2px;
  border-radius: 0;
  background-color: $black; }
 
.bottom-menu {
  top: 21px;
  width: 30px;
  height: 2px;
  border-radius: 0;
  background-color: $black; }

.signup-form {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.signup-form__contain {
  padding: 152px 0 152px 120px;
  color: $white;
}

.form-group {
  position: relative;
  width: 100%;
  max-width: 480px;

  input {
    width: 100%;
    border-radius: $border-radius;
    padding: 24px 185px 24px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.147702);
    border: none;
  }

  button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 29px;
    padding: 6px 12px;
  }
}

/* Marketo Form */

progress {
    display: none;
}
label.mktoLabel.mktoHasWidth {
    display: none;
}
.mktoForm {
    text-align: left;
    width: 100% !important;
	max-width: 480px !important;
	
	.mktoOffset {
		float: left;
		height: 1.2em;
		display: none;
	}
	.mktoFormRow {
		clear: none !important;
		display: inline-block !important;
	}
	.mktoGutter {
		float: left;
		height: 1.2em;
		display: none;
	}
	input#Email {
		border: none;
		background: white;
		box-shadow: none;
	}
	.mktoFormCol {
		margin-bottom: 0 !important;
	}
	input#FirstName, input#LastName, input#Company, input#Phone {
		-webkit-appearance: none;
		background-color: $white;
		line-height: 1.5em;
		color: #000;
		border: 1px solid #DDDEE0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		box-shadow: none;
		min-height: 1.9em;
		padding: 16px !important; 
	}
	input#Company {
		width: 363px !important;
	}
	.mktoRadioList.mktoHasWidth.mktoRequired.mktoValid {
		width: 400px !important;
	}
	input#FirstName, input#LastName, input#Phone {
		width: 95% !important;
	}
	input#Phone {
		width: 363px !important;
	}
	input#FirstName {
		margin-right: 16px;
	}
	input#FirstName {
		margin-right: 16px;
	}
	.mktoRadioList, .mktoForm .mktoCheckboxList {
		padding: 0.3em;
		float: left;
		min-width: 370px !important;
		display: block !important;
	}
	.mktoRadioList > label, .mktoForm .mktoCheckboxList > label {
		margin-bottom: 0.6em;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		display: inline-block !important;
		margin-left: 16px !important;
		margin-right: 25px;
		color: white;
		
	}
	.mktoField {
		float: none !important;
		display: inline-block;
	}
}

.mktoForm .mktoButtonWrap.mktoRound .mktoButton, .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
			  display: inline-block !important;
			  width: auto !important;
			  text-decoration: none;
			  text-align: center;
			  vertical-align: middle !important;
			  cursor: pointer;
			  border: 1px solid transparent !important;
			  border-radius: $border-radius !important;
			  background-image: none !important;
			  background-color: $color-btn-primary !important;
			  color: $color-btn-primary-text !important;
			  white-space: normal !important;
			  font-size: $font-size-base !important;
			  vertical-align: bottom !important;
			  @include transition(all .3s ease);
			  

			  &:hover {
				background-color: $hoverblue !important;
				color: $color-btn-primary-text !important;
			  }
		
	}


form#mktoForm_1026 {

    background: white;
    border-radius: 4px;
	  padding: 10px;
	
	.mktoFieldWrap {
		margin-top: 5px;
	}


  .mktoButtonRow
  {
          float: right !important;
  }



}

.hp-slider__testimonial-outer {
  width: 250px;
  position: absolute;
  right: 40px;
  bottom: 30px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: $border-radius;
  color: $white;
  padding: 24px 24px 44px 24px;

  .hp-slider__testimonial-outer--reset {
    position: relative;
    display: block;
  }

  blockquote {
    font-size: 14px;
    line-height: 120%;
    font-style: italic;
    margin-bottom: 5px;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 13px;
      background: url('../images/quote.svg') no-repeat left;
      background-size: contain;
      margin-bottom: 20px;
    }
  }

  cite {
    color: #929395;
    font-size: 12px;
    font-style: normal;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;

    .slick-dots {
      text-align: left;

      li {
        margin: 0;
        width: 15px;
        height: 15px;

        button {
          width: 15px;
          height: 15px;

          &:before {
            color: $white;
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
#hp-slider__logos .logo-single {
   margin-top: 20px;
   margin-bottom: 30px;
}
/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 9999;
  border: 16px solid #C8C8C8;;
  padding: 25px;
	
	img {
		margin: 0 auto;
	}
	.loader-wrap {
		display: block;
		text-align: center;
		width:100%;
		margin-top: 25%;
		
		
	}
	
}
header {
	background: white;
	position: fixed;
	z-index: 1;
	top: 0;
	
	a.btn.btn--secondary {
		margin-right: 12px;
	}
	
}
#slideshow {
	position: relative;
	padding-top: 80px;
	
	img.abs.down {
		@include transition(all .3s ease);
		bottom: 30px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		
		&:hover {
			opacity: .5;
		}
	}
	div#new-user-count {
		display: inline-block;
	}
}


/* LOGOS SECTION */

#logos {
  padding-top: 80px;
  padding-bottom: 80px;

  .logo-single {
    margin-top: 40px;

    img {
      width: 100%;
    }
  }
}

#lodginginfo {
  background: #F3F4F7;
  padding: 40px;

  .lodginginfo-thumbnail-col {
    padding-bottom: 40px;
    padding-left: 40px;
    position: relative;
  }

  > .row {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    &:before {
      content: '';
      position: absolute;
      background: url('../images/bg-lodging.svg') no-repeat;
      width: 33.3333%;
      height: 100%;
      right: 0;
      top: 0;
    }
  }

  h3 {
    margin-bottom: 40px;
  }

  .slick-list {
  }
	
	.mobile-show {
		text-align: center;
		
		&.row:before {
			background: none;
		}
		.main-single-image {
			height: 290px;
			display: block;
			position: relative;
		}
		
		span.lodginginfo-single_text {
			margin: 40px 15% 50px 15%;
			display: block;
			width: 70%;
		}
		.main-single-text {
			text-align: left;
		}
	}
}

#slideshow-lodging-thumbnails {

  .slick-slide {
    padding: 24px;
    cursor: pointer;

    &.slick-current {
      background: $white;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      border-radius: $border-radius;
    }
  }

  .lodginginfo-single {

    .lodginginfo-single_icon {
      padding-right: 32px;

      &:before {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &.icon-coin:before {
        background-image: url('../images/lodging-thumbnail_slide1.svg');
      }

      &.icon-document:before {
        background-image: url('../images/lodging-thumbnail_slide2.svg');
      }

      &.icon-collab:before {
        background-image: url('../images/lodging-thumbnail_slide3.svg');
      }
    }

    .lodginginfo-single_text {

      b {
        display: block;
      }
    }
  }
}

#slideshow-lodging-main {
  height: 100%;
  padding-left: 50px;

  .slick-list,
  .slick-track,
  .slider-slide {
    height: 100%;
  }

  .slick-slide {
    position: relative;
  }

	video {
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		
	}
}
.main-single-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main-single-text {
    padding: 80px;
    color: $white;

    h2 {
      font-size: 46px;
      line-height: 55px;
      letter-spacing: -0.03em;

      span {
        color: $green;
      }
    }
  }

#solution-icons {
  padding-top: 120px;

  #solution-icons_push {
    padding-left: 125px;
    padding-right: 125px;
  }

  .title_row {
    margin-bottom: 55px;
  }

  h3 {
    margin-bottom: 0;
  }

  .solution-single {
    padding: 40px 30px 45px;
    border: 1px solid #E3E4E8;
    border-radius: $border-radius;
    min-height: 100%;

    .solution-single__icon {
      display: inline-block;
      width: 100%;
      max-width: 120px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: 25px;

      &:before {
        content: '';
        padding-top: 100%;
        display: block;
      }
    }

    p {
      margin-bottom: 20px;
    }

    .btn {
      margin-top: 25px;
    }
  }
}

#logorow {
  margin-top: 50px;
  padding-left: 160px;
  padding-right: 160px;
}

#logorow-push {
  background: url('../images/bg-map.svg') no-repeat center;
  background-size: conver;
  padding-top: 85px;
  padding-bottom: 85px;

  h4,
  p {
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
    max-width: 700px;
  }

  .logorow_single {
    padding-top: 15px;
    padding-bottom: 15px;

    img {
      display: inline-block;
      width: 170px;
    }
  }

  .btn {
    margin-top: 40px;
  }
}



        
      



/* SIGNUP SECTION */

#signup {
    background: black;
    padding: 40px;
	position: relative;
	overflow: hidden;
	
	#signup-info {
		
	
		> .row {
		position: relative;
		padding-top: 40px;
		padding-bottom: 40px;
			

			&:before {
			  content: '';
			  position: absolute;
			  background: url('../images/icon-dot-pattern-white.png') repeat;
			  width: 33.3333%;
			  height: 100%;
			  left: 0;
			  top: 0;
			}
		}
		img.abs {
			position: absolute;
			top: -80px;
			max-width: 80%;
		}
		h3 {
			color: white;
			padding-top: 20px;;
		}
		.form-group {
			max-width: 100%;
			
			input {
				width: 45%;
				display: inline-block;
				margin: 25px 13px 13px 0;
				padding: 13px 16px;
			}
			p {
				color: #878787;
				font-size: 12px;
				
				a {
					color: white;
					text-decoration: underline;
					
					&:hover {
						color: $white;
					}
					
				}
			}
			button {
				position: relative;
				right: 0;
				top: 0;
				line-height: 179%;
				padding: 10px 35px;
				margin-top: 24px;
			}
		}


   


      






		form#mktoForm_1058.mktoForm {
			width: 100% !important;
			display: block !important;
			max-width: 100% !important;
			margin-top: 40px;
			





			input[type=email], input#LastName {
			    -webkit-appearance: none;
				background-color: #fff;
				line-height: 1.5em;
				color: #000;
				border: 1px solid #DDDEE0;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				-webkit-box-shadow: none;
				box-shadow: none;
				min-height: 1.9em;
				padding: 16px !important;
				width: 363px !important;
			}

			.mktoFormRow {
				display: block !important;
			}
			.mktoHtmlText.mktoHasWidth {
				color: #878787;
				font-size: 12px;
				margin: 16px 0 25px 0;
				width: 100% !important;
				
				a {color: $white;
				text-decoration: underline;}
			}
			input#FirstName, .mktoForm input#LastName, .mktoForm input#Phone {
				width: 363px !important;
				margin-bottom: 25px;
				margin-left: 0;
			}
			input#Company {
				margin-right: 16px !important;
			}
			.mktoButtonWrap.mktoSimple .mktoButton {
				padding: 10px 35px;
			}
		}
	}
}

/* FOOTER */

#footer-wrap {
	padding: 40px 40px 25px 40px;
	
	p.title {
		font-weight: 500;
		line-height: 19px;
	}
	span {
		display: block;
		margin-bottom: 10px;
		color: #1a1a1a;
		
		&.phone {
			background:url('../images/icon-phone.svg') left no-repeat;
			padding-left: 30px;
		}
		&.email {
			background:url('../images/icon-email.svg') left no-repeat;
			padding-left: 30px;
			margin-bottom: 15px;
		}
		&:hover {
			color: $hoverblue;
		}
	}
	img.app {
			margin: 15px 0;
			margin-left: 0;
			@include transition(all .3s ease);
		
		&:hover {
			opacity: .5;
		}
	} 
	ul {
		padding-left: 0;
		padding-right: 70px;
		list-style: none;
		display: inline-block;
		vertical-align: top;
		
		li {
			line-height: 150%;
			margin-bottom: 3px;
			a {
				color: #414243;
				
				&:hover {
					color: $hoverblue;
				}
			}
		}
	}
	.waybottom-wrap {
		width: 100%;
		margin-top: 75px;
		border-top: 1px solid #E3E4E8;
		padding-top: 20px;
		
		p {
			display: inline-block;
			text-align: left;
			font-size: 14px;
			color: #929395;
			margin-bottom: 0;
			
			a {
				padding: 0 24px;
				color: #929395;
				
				&:hover {
					color: $hoverblue;
				}
				
				&:last-child {
					padding-left: 0;
				}
			}
		}
		.social-wrap {
			float: right;
		}
		img {
			text-align: right;
			margin-left: 10px;
			@include transition(all .3s ease);
			
			&:hover {
				opacity: .5;
			}
		}
		
	}
}


/* PRICING SECTION */

#pricing {
	padding: 72px 0;
	

	.d-flex.card.p-4.m-0 {
		padding: 48px 40px !important;
	}
	.mobile-hide.tablet-hide .btn:first-child {
				position: absolute;
				bottom: 48px
	}
	
	h4, .h4 {
		font-size: 24px;
		font-weight: 600;
		letter-spacing: -0.03em;
	}
	.item-content {
		display: none;
	}
	mark.price {
		background: transparent;
		padding: 16px 0;
		border-top: 1px solid $grey;
		border-bottom: 1px solid $grey;
		color: $ltblue;
		font-size: 24px;
		line-height: 29px;
		font-weight: 600;
		margin-bottom: 16px; 
		display: block;
	}
	.card-footer {
		background: transparent; 
		border: none;
	} 
	p {
		color: $dkgrey;
		
		&.toggle {
			background: url("../images/icon-carot-down.svg") no-repeat right; 
			background-size: 14px;
			width: 100%; 
			display: block;
			
			&.down {
				background: url("../images/icon-carot-up.svg") no-repeat right; 
				background-size: 14px;
				
			}
		}
	}
}


/* TESTIMONIALS SECTION */

#testimonials {
	padding: 80px;
	text-align: center;
	
	.slick-dots li {
		width: 16px;
	}
	
	h5 {
    	text-align: center;
		display: block;
		width: 100%;
	}
	.testimonial-outer {
		width: 100%;
		border-radius: 4px;
		color: $black;
		padding: 24px 0 19px 0;
		
		blockquote { 
			font-size: 30px;
			line-height: 36px;
			display: flex;
			align-items: center;
			text-align: center;
			letter-spacing: -0.03em;
			font-weight: 600;
		}
		cite {
			font-style: normal;
			display: block;
			margin-bottom: 20px;
		}
		.slick-dots li {
			margin: 0;
		}

	}
}

/* CAREERS PAGE */

#largeVideo {
	background: $black; 
	
	
	h3, p {
		color: $white;
	}
}
#ceo {
	background-color: $black;
	padding: 50px;
	padding-bottom: 150px;
	border-left: 24px solid $white;
	border-right: 24px solid $white;
	
	.text-left {
		background: #2A2B2D;
	}
	
	.quote-wrap {
		border-top: 51px solid $black;
		padding: 3em;
		
		p {
			color: $white;
			
			
			&:first-child {
				margin-bottom: 61px;
			}
		}
	}
}

/* IMAGE HOVERS */

#logos.missions {
	padding: 88px 0;
	background: #F3F4F7;
	border-left: 24px solid $white;
	border-right: 24px solid $white;
	border-top: 24px solid $white;
	
	.logo-single {
		margin-top: 0;
	}
	
	.logo-single {
	  position: relative;
	  width: 100%;
		.image {
		  display: block;
		  width: 100%;
		  height: auto;
		}
	}



	.overlay {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: .5s ease;
	  background-color: $ltblue;


		p {
			color: $white;
			max-width: 75%;
			top: 2.5em;
			left: 2em;
			position: absolute;
		}
	}

	.logo-single:hover .overlay {
	  opacity: 1;
	}
}

/* Benefits */

#benefits {
	border: 24px solid white;
	
	h5 {
		margin-bottom: 39px;
	}
	
	img {
		margin-bottom: 62px;
	}

padding: 150px 0;
background-color: $black;
	
ul {
		padding-left: 18px;
		list-style-image: url("../images/icon-check-nobg-white.svg"); 
		li {
			color: $white;
			line-height: 200%;
		}
	}
	/*.row{
		background: url(../images/icon-dot-pattern-white.png) repeat left;
		background-size: 245px;
	}*/
}

/*   Media Queries
================================================== */

@media only screen and (max-width: 1440px) {
	#signup #signup-info img.abs {
		top: 0;
		bottom: -80px !important;
	}
	#signup #signup-info form#mktoForm_1058.mktoForm {
		
		input#FirstName, input#LastName, input#Company, input#Email {
			width: 263px !important;
		}
	}
	
}

@media only screen and (min-width: 1260px) and (max-width: 1440px) {
	section#slideshow.container {
		max-width: 100%;
		padding: 40px 40px 0 40px;
	}
	
}

section#slideshow.container {
    max-width: 100%;
    padding: 40px 40px 0 40px;
}

@media only screen and (max-width: 1260px) {
		header {
			padding: 20px 0;
		}
		#slideshow {
			padding-top: 65px;
		}
		#footer-wrap ul {
			padding-right: 40px;
		}
		/*#signup #signup-info img.abs {
			position: absolute;
			bottom: -80px;
			max-width: 80%;
		}*/
		#footer-wrap ul {
			padding-right: 25px;
		}
		#signup #signup-info form#mktoForm_1058.mktoForm {

			input#FirstName, input#LastName, input#Company, input#Email {
				width: 233px !important;
			}
		}
		#signup #signup-info img.abs {
			top: 23%;
			bottom: 0 !important;
		}
		#ceo .quote-wrap {
			border-top: 0;
	}
	}

	@media only screen and (min-width: 992px) and (max-width: 1260px) {
		#logorow {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media only screen and (max-width:992px) {
		.signup-form__contain {
			padding: 152px 0 152px 0px;
		}
		.mobile-hide {
			display: none;
		}
		.mobile-show {
			display: block;
		} 
		.mobile-show .hp-slider__testimonial-outer {
			width: 100%;
			position: relative;
			border-radius: 0;
			text-align: center;
			right: 0;
			background: black;
			
			blockquote:before {
				background: url("../images/quote.svg") no-repeat center;
			}
			.slick-dotted.slick-slider .slick-dots {
				text-align: center;
			}
		}
		#logorow {
			padding-left: 0;
			padding-right: 0;
		}
		#solution-icons #solution-icons_push {
			padding-left: 0;
			padding-right: 0;
		}
		#solution-icons .solution-single p {
			display: inline-block;
			vertical-align: top;
			padding-top: 25px;
			max-width: 50%;
			text-align: left;
			
			&.mobile-hide {
				display: none;
			}
		}
		#solution-icons .solution-single {
			padding: 25px;
			
			.solution-single__icon {
				margin-bottom: 0;
			}
			a.mobile-show {
				color: $primary;
			}
		}
		.signup-form__contain {
			text-align: center;
		}
		#slideshow {
			.form-group {
				max-width: 460px;
				margin: 0 auto;
				position: inherit;
				
				input {
					 padding: 14px 185px 14px 24px;
				}
				button {
					position: inherit;
					right: 0;
					top: 0;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
					line-height: 29px;
					padding: 6px 25px;
					margin-top: 37px;
				}
			}
			.btn.btn--inline {
				margin-top: 10px;
			}
		}
		#lodginginfo h3 {
			text-align: center;
		}
		#signup #signup-info img.abs {
			display: none;
		}
		.mainnavhide {
                display: none;
            }
        .icon {
            display: block !important;
        }
		#footer-wrap img.app {
			margin: 10px;
			margin-left: 0;
		}
		form#mktoForm_1026 {
			margin: 0 auto;
		}
		form#mktoForm_1028 {
			margin: 0 auto;
			text-align: center;
		}
		#lodginginfo .lodginginfo-thumbnail-col {
			padding-left: 0;
		}
		.mktoForm .mktoRadioList, .mktoForm .mktoCheckboxList {
			float: none;
			text-align: center;
		}
		.d-flex.card.p-4.m-0 {
			margin-bottom: 16px !important;
		} 
		
	}

	@media only screen and (min-width: 768px) and (max-width: 992px) {
		.hp-slider__testimonial-outer {
			right: 0;
			bottom: 0;
		}
		.nav ul li a {
			padding: 5px 30px 5px 0;
		}
		
		
		
		
		.lodginginfo-thumbnail-col h3 {
			text-align: center;
		}
		#solution-icons .col-md-6:last-child {
			margin: 16px auto;
			
		}
		
	}

	@media only screen and (max-width: 767px) {
		.xs-hide {
			display: none;
		}
		#lodginginfo {
			background: #F3F4F7;
			
		
			> .row:before {
				background: none;
			}
			.lodginginfo-thumbnail-col {
				padding-left: 0;
			}
		}

		#solution-icons .col-lg-4.col-md-6.col-sm-12 {
			margin-bottom: 8px;
		}
		#signup #signup-info .form-group input {
			margin: 16px 0;
			width: 100%;
		}
		#signup #signup-info .form-group button {
			width: 100%;
		}
		#footer-wrap {
			ul {
				padding-right: 25px;
				width: 45%;
			}
			.waybottom-wrap {
				margin-top: 45px;
				
				.social-wrap {
					float: left;
			
					img {
						margin-left: 0;
						margin-right: 10px;

					}
				}
			}
		}
		#testimonials {
			padding: 56px 0;
			
			blockquote{
			font-size: 24px;
			line-height: 29px;
			}
		}
		#ceo {
			padding: 0;
		}
		
		
		
		
	}

	@media only screen and (min-width: 576px) and (max-width: 767px) {
	}

	@media only screen and (max-width: 575px) {
		#footer-wrap {
			padding: 25px 0;
			
			ul {
				width: 49%;
			}
			
			.waybottom-wrap p {
				display: block;
				margin-bottom: 16px;
				
				a {
					padding-left: 0;
				}
			}
		}
		.xs-show {
			display: block;
		}
		h1.h2 {
			font-size: 30px;
		}
		h3, h4 {
			font-size: 24px;
		}
		.main-single-text {
			padding: 25px;
		}
		#lodginginfo .mobile-show span.lodginginfo-single_text {
			margin: 40px 5% 50px 5%;
			width: 90%;
			font-size: 16px;
		}
		.main-single-text h2 {
			font-size: 30px;
			line-height: 36px;
		}
		ul.checklist li:before {
			margin-right: 12px;
		}
		#signup #signup-info form#mktoForm_1058.mktoForm {
			.mktoFormCol { 
				width: 100%;

				.mktoFieldWrap {
					width: 100%;
				}
			}
			.mktoButtonRow {
				display: block;
			}
		}
		#signup #signup-info form#mktoForm_1058.mktoForm input#FirstName, #signup #signup-info form#mktoForm_1058.mktoForm input#LastName, #signup #signup-info form#mktoForm_1058.mktoForm input#Company, #signup #signup-info form#mktoForm_1058.mktoForm input#Email {
			
			width: 100% !important;
			margin-bottom: 16px !important;
		}
		#signup #signup-info form#mktoForm_1058.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
			display: block !important;
			width: 100% !important;
		}
		form#mktoForm_1026 {

			.mktoFieldWrap {
				/*vertical-align: middle !important;*/
				margin-top: 0;
			
			}
			.mktoButtonRow {
				margin-top: -6px;
			}
		}
		
		
		
		
	}
